@charset "utf-8";

/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto);
$raleway-stack: Raleway, sans-serif;
$roboto-stack: Roboto, sans-serif;

/**
 * Variables
 */
// Font stacks
$body-font: $roboto-stack;
$heading-font: $raleway-stack;

// Spacing
$content-width: 960px;
$line-height: 1.5;
$rhythm: 1em;

%vertical-rhythm {
    margin-bottom: $rhythm / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_sass/normalize",
        "_sass/fontawesome",
        "_sass/base",
        "_sass/layout"
;