<!-- only one parameter - the JSON array -->
{%- macro achievementsSection(arguments) %}
    <ul class="list-square mb-6 ml-4">
        {% for achievement in arguments %}
            <li>{{ achievement }}</li>
        {% endfor %}
    </ul>
{%- endmacro %}
